.arrow-container {
    font-size: x-large;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    padding: 5px;

    overflow: hidden;
    transition: width 0.25s ease, opacity 0.25s ease, margin 0.25s ease;
}

.arrow-visible {
    width: 50px;
    opacity: 1;
}

.arrow-hidden {
    width: 0px;
    opacity: 0;
    margin-left: 0;
    padding: 0;
}