.welcome-text {
  text-align: center;
  color: rgb(216, 211, 211);
  border-radius: 10px;
  width: 600px;
  align-self: center;
  font-size: medium;
}

.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;

  display: flex;
  flex-direction: column;
}